.topnav-list ul li{
    font-weight:600;
    display: flex;
    list-style: none;
    float: right;
    padding-right: 70px;
}
.topnav-list{
    list-style: none;
}
.button{
    border-radius: 10px;
    background-color: blue;
    color: white;
    padding: 10px;
    width: 25%;
}
body{
    background-image: linear-gradient(to right,rgb(138, 119, 138),rgb(189, 181, 226));
    margin: 0% 5%;
}
.h1{
    font-weight: 600;
    font-size: 90px;
    padding: top 20%;
}
nav{
    list-style: none;
    font-weight: 600;
}
p{
    font-weight: 600;
}
.contact{
    border-radius: 20px;
}
img{
  width: 110%;
}
i{
    font-size: 40px;
    justify-content: space-between;
    padding: 10px;
}
ul{
    height: 20px;
}
.content{
padding-top: 1px;
}
main{
    padding-top: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid transparent;
}
.logo{
    font-size: 100px;
    font-weight: 900;
}